$font_main: Gilroy, sans-serif;

$color_main: #fff;
$color_background: #000;
$color_font: #3368ff;
$color_text: #fff;
$color_title: #2389ff;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;


$defaultSize: 63px;
$size_text: 14px;
$defaultSizeMobile: 20px;

$buttonSize: 30px;

$radius: 100px;

